{% extends "base.html" %}
{% block content %}
    <section class="login py-5 border-top-1">
        <div class="container">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% if carts %}
            <div class="row">
                <div class="col-md-8">
                    <table class="table">
                        <thead>
                            <th>Product</th>
                            <th>Quantity</th>
                            <th>Price</th>
                            <th>Delete</th>
                        </thead>
                        <tbody>
                            {% for cart in carts %}
                                <tr>
                                    <td>{{cart.product.name|title}}</td>
                                    <td>{{cart.quantity}}</td>
                                    <td>${{cart.product.price}}</td>
                                    <td>
                                        <a href="{% url 'DeleteCartProduct' cart_id=cart.id %}">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="col-md-4">
                    <a href="{% url 'CustomerCheckOut' %}" > <button class="btn btn-primary">Checkout</button> </a>

                </div>
            </div>
            {% else %}
                <div class="row col-md-12">
                    <div class="text-center">
                        <h6> You Have not added any product into cart </h6>
                        <a href="{% url 'homePage' %}">
                            <button class="btn btn-primary">Continue Shopping</button>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock content %}